streamlit
pandas
numpy
plotly
openpyxl
akshare
requests
beautifulsoup4
chinese_calendar
python-dateutil
pytz
altair
pyarrow
tabulate
xlrd
GitPython
watchdog
tqdm
scipy
matplotlib
mplfinance
pillow
PyMuPDF
python-docx
toml